.main-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.pred-shown {
    height: 90px !important;
}

.probs-shown {
    transform: translateY(-100%);
}

.card-query-row {
    position: relative;
    overflow: hidden;
    height: 40px;
    transition: height 0.5s ease-out;
}

.card-query-wrap {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(100% - 125px);
    transition: transform 0.5s ease-out;
}

.card-query-body {
    display: inline-block;
    overflow-x: scroll;
    -ms-overflow-style: none;
    max-width: 100%;
    height: 100%;
    line-height: 40px;
    vertical-align: middle;
}

.card-query-prob {
    width: 100%;
    height: 90px;
}

.card-query-body::-webkit-scrollbar {
    display: none;
}

.card-query-body span {
    white-space: nowrap;
    line-height: 40px;
}

.card-tag {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    height: 40px;
    text-align: right;
}

.card-tag .btn {
    width: 110px;
    height: 40px;
    cursor: default;
}